@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans'), local('PT Sans-Regular') url('/fonts/PT_Sans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Sansation';
  src: local('Sansation'), local('Sansation-Regular'), url('/fonts/Sansation-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Sansation';
  font-weight: bold;
  src: local('Sansation Bold'), local('Sansation-Bold'), url('/fonts/Sansation-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Kaushan Script';
  src: local('Kaushan Script'), local('Kaushan Script-Regular'), url('/fonts/Kaushan_Script-Regular.otf') format('opentype');
}
html,
body {
  margin: 0px;
  padding: 0px;
  font-family: 'PT Sans', 'Tahoma';
  color: #3d3d3f;
}
html, body {
  height: 100%;
}
.top-menu {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 2;
  text-align: center;
}
.top-menu ul.menu {
  display: none;
}
.top-menu .logo {
  position: absolute;
  height: 100%;
  float: left;
  font-family: 'Kaushan Script';
  color: rgba(255, 255, 255, 0.4);
  font-size: 40px;
  line-height: 100px;
  margin-left: 50px;
  font-weight: bold;
}
.top-menu-fixed {
  position: fixed;
  background-color: #3d3d3f;
  height: 60px;
  z-index: 50;
}
.top-menu-fixed ul.menu {
  display: inline-block;
  line-height: 55px;
}
.top-menu-fixed ul.menu a {
  color: white;
}
.top-menu-fixed .logo {
  line-height: 50px;
  color: #9bc9ff;
}
.first-slide {
  background: url('/images/keyboard.jpg') top center no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  min-height: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.first-slide .shader {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  min-height: 700px;
  position: absolute;
  top: 0;
  left: 0;
}
.first-slide .content {
  color: white;
  text-align: center;
  width: 100%;
  font-size: 50px;
  z-index: 3;
  margin-top: -108px;
}
.first-slide .content .title {
  font-family: 'Sansation', 'Tahoma';
  font-size: 42px;
  font-weight: bold;
}
.first-slide .content .subtitle {
  font-family: 'DejaVu serif', 'Times New Roman';
  font-size: 25px;
  font-style: italic;
}
.first-slide .content .button {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  font-size: 20px;
  display: inline-block;
  line-height: 50px;
  padding: 0px 25px;
}
.first-slide .content .button:hover {
  border-top: 1px solid #4C6684;
  border-bottom: 1px solid #4C6684;
  color: #61a6ff;
  cursor: pointer;
}
.corner {
  position: absolute;
  background: url('/images/aboutmask.png') top center no-repeat;
  height: 108px;
  width: 100%;
  z-index: 20;
  margin-top: -107px;
}
.second-slide {
  height: 100px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #d3d3d3;
}
.second-slide ul.menu {
  font-family: 'Sansation';
  list-style-type: none;
  padding: 0px;
  height: 100%;
  display: inline-block;
  margin: 0;
  font-size: 20px;
}
.second-slide ul.menu li {
  display: inline-block;
}
.second-slide ul.menu a {
  color: #3d3d3f;
  padding: 0px 20px;
  border-right: 1px dashed #d3d3d3;
}
.second-slide ul.menu a.logo {
  line-height: 50px;
  color: #9bc9ff;
  font-family: 'Kaushan Script';
  font-size: 40px;
  line-height: 100px;
  font-weight: bold;
  font-style: italic;
}
.second-slide ul.menu a.last {
  border: none;
}
.second-slide ul.menu a:hover {
  text-decoration: none;
}
.third-slide {
  font-family: 'Sansation', 'Tahoma';
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  line-height: 120px;
  border-bottom: 1px solid #d3d3d3;
}
.fourth-slide {
  width: 100%;
  font-size: 14px;
  display: flex;
  margin: 0 auto;
  align-items: stretch;
  flex-wrap: wrap;
  /*border-bottom: 1px solid rgb(223, 223, 223);*/
}
.fourth-slide p {
  border-bottom: 1px solid #d3d3d3;
  margin: 0;
  font-size: 14px;
  line-height: 40px;
}
.fourth-slide .inner {
  padding: 30px 30px 0 30px;
  text-align: center;
  cursor: pointer;
  /*-webkit-transform: translate(0, 0px);*/
}
.fourth-slide .inner .sliding {
  -webkit-transition-duration: 1s;
  width: 400%;
}
.fourth-slide .inner .sliding .description {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.fourth-slide .inner .sliding .table {
  width: 25%;
  float: left;
}
.fourth-slide .inner .image {
  width: 400%;
  height: 135px;
  -webkit-transition-duration: 1s;
}
.fourth-slide .inner .image .image-wrapper {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.fourth-slide .inner .image .image1,
.fourth-slide .inner .image .image2 {
  width: 200px;
  margin: auto;
}
.fourth-slide .inner .title {
  margin-top: 20px;
  font-size: 30px;
}
.fourth-slide .tooltip {
  width: 100%;
  margin-left: 600px;
  margin-top: -472px;
  height: 472px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s;
  font-size: 18px;
  font-family: 'Sansation';
  word-wrap: break-word;
  color: white;
  overflow: hidden;
}
.fourth-slide .first,
.fourth-slide .second,
.fourth-slide .third {
  overflow: hidden;
  position: relative;
}
.fourth-slide .first,
.fourth-slide .third {
  background-color: white;
  width: 33.3%;
}
.fourth-slide .second {
  width: 33.4%;
  border-right: 1px solid #d3d3d3;
  border-left: 1px solid #d3d3d3;
  padding-bottom: 65px;
}
.fourth-slide .second .second-corner {
  background: url('/images/aboutmask2.png') bottom center no-repeat;
  width: 100%;
  height: 65px;
  position: absolute;
  bottom: 0;
}

.third .second-corner {
  display: none;
}
.fifth-slide {
  height: 80%;
}
.fifth-slide .fifth-background {
  background: url('/images/snapshot6.png') top center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: -60px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fifth-slide .fifth-background .fifth-title {
  text-align: center;
  color: white;
  /*position: absolute;
  margin-top: 350px;*/
  width: 100%;
}
.fifth-slide .fifth-background .fifth-title .title {
  font-family: 'Sansation', 'Tahoma';
  font-size: 42px;
  font-weight: bold;
  display: inline-block;
  border-bottom: 1px solid white;
  padding: 0px 25px;
}
.fifth-slide .fifth-background .fifth-title .subtitle {
  font-family: 'DejaVu serif', 'Times New Roman';
  font-size: 25px;
  font-style: italic;
}
.sixth-slide {
  background: url('/images/snapshot5.png') top center no-repeat;
  height: 800px;
}
.pre-seventh-slide {
  line-height: 121px;
  font-family: 'Sansation', 'Tahoma';
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #d3d3d3;
  width: 100%;
}
.seventh-slide {
  background: url('/images/snapshot5.png') top center no-repeat;
  height: 798px;
}
.seventh-slide .content {
  padding-left: 400px;
  width: 100%;
  height: 100%;
}
.seventh-slide .content .step {
  padding-top: 83px;
  width: 100%;
  height: 267px;
}
.seventh-slide .content .step .title {
  font-family: 'Sansation';
  font-size: 30px;
}
.seventh-slide .content .step .subtitle {
  font-family: 'DejaVu serif';
  font-style: italic;
}
.seventh-slide .content .step .description {
  font-family: 'DejaVu serif';
  font-style: italic;
}
.post-seventh-slide {
  background: url("/images/triangle2.png") repeat-x left bottom;
  width: 100%;
  height: 7px;
  margin-top: -7px;
}
.pre-eight-slide {
  font-family: 'Sansation', 'Tahoma';
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  line-height: 120px;
  border-bottom: 1px solid #d3d3d3;
  border-top: 1px solid #d3d3d3;
}
.eighth-slide {
  width: 100%;
}
.eighth-slide .title {
  font-family: 'Sansation', 'Tahoma';
  font-size: 42px;
  line-height: 120px;
  font-weight: bold;
  text-align: center;
}
.eighth-slide .subtitle {
  font-family: 'DejaVu serif';
  font-size: 25px;
  font-style: italic;
  text-align: center;
}
.eighth-slide .icons {
  background: url('/images/screen9.png') top center no-repeat;
  height: 221px;
  margin: 50px 0 80px 0;
}
.pre-nineth-slide {
  height: 7px;
  background: url('/images/triangle.png') repeat-x;
  width: 100%;
  position: absolute;
}
.nineth-slide {
  background-color: #b5f180;
  background: url('/images/keyboard2.jpg') left top no-repeat;
  text-align: center;
  font-size: 25px;
  color: white;
  font-family: 'DejaVu serif';
  width: 100%;
  padding-bottom: 20px;
}
.nineth-slide .title {
  font-family: 'Sansation', 'Tahoma';
  font-size: 42px;
  line-height: 120px;
  font-weight: bold;
  text-align: center;
}
.nineth-slide .subtitle {
  font-family: 'DejaVu serif';
  font-size: 25px;
  font-style: italic;
  text-align: center;
}
.nineth-slide form {
  width: 50%;
  margin: 0 auto;
  color: black;
  font-style: italic;
  font-size: 20px;
}
.nineth-slide form input,
.nineth-slide form textarea {
  width: 100%;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  color: white;
  padding: 0px 15px;
  border-radius: 5px;
}
.nineth-slide form .button {
  line-height: 50px;
  background-color: white;
  border-radius: 5px;
  width: 50%;
  margin: auto;
  border: 1px solid white;
  cursor: pointer;
  -webkit-transition-duration: 0.6s;
}
.nineth-slide form .button:hover {
  background-color: transparent;
  color: white;
}
.nineth-slide form input {
  line-height: 50px;
}
.nineth-slide form textarea {
  height: 120px;
}

@media(max-width: 700px) {
.fourth-slide {
  border-bottom: 0;
}
.fourth-slide .first,
.fourth-slide .second {
  background-color: white;
  display: inline-block;
  width: 50%;
  border-bottom: 1px solid #d3d3d3;
}
.fourth-slide .third {
  display: inline-block;
  width: 50%;
  margin: 0 auto;
  border-right: 1px solid #d3d3d3;
  border-left: 1px solid #d3d3d3;
  border-bottom: 0 !important;
}
.third .second-corner {
  background: url('/images/aboutmask2.png') bottom center no-repeat;
  width: 100%;
  height: 65px;
  position: absolute;
  bottom: 0;
}

.second .second-corner {
  display: none;
}
}

@media(max-width: 500px) {
.fourth-slide .first,
  .fourth-slide .second,
  .fourth-slide .third {
    width: 100%;
    border-bottom: 1px solid #d3d3d3;
  }
.fourth-slide .third {
    background-color: transparent;
    padding-bottom: 65px;
  }
.fourth-slide .second {
    background-color: white;
    padding-bottom: 0;
  }
.third .second-corner {
  display: block;
  background: url('/images/aboutmask2.png') bottom center no-repeat;
  width: 100%;
  height: 65px;
  position: absolute;
  bottom: 0;
}

.second .second-corner {
  display: none;
}
}
