button(color, hover-color)
   border-top 1px solid color
   border-bottom 1px solid color
   display inline-block
   line-height 50px
   padding 0 25px
   color color

   &:hover
      border-top 1px solid hover-color
      border-bottom 1px solid hover-color
      color hover-color
