@import "fonts"
@import "colors"

@import "button"

// Background-images
$welcome-background-image = url('/images/keyboard_dark.jpg') top center no-repeat

// Sizes
$welcome-screen-height = 800px

$corner-height = 54px
$corner-width = 235px

// Colors
$html-font-color = $gray
$html-lines-color = $lgray

$offer-background-color = white

$hover-color = $lblue;

// Fonts
font-title()
   font-family 'Sansation'
   font-weight bold
   font-size 42px
   line-height 60px
   text-align center

font-subtitle()
   font-family 'DejaVu serif'
   font-style italic
   font-size 25px
   line-height 35px
   text-align center

font-menu()
   font-family 'Sansation'
   color $html-font-color
   font-size 20px

font-main()
   font-family 'PT Sans', 'Tahoma'
   font-style normal
   font-size 20px

html, body
   color $html-font-color
   font-main()

.title
   font-title()
.subtitle
   font-subtitle()

.welcome-screen
   position absolute
   z-index 1

   text-align center

   width 100%
   height $welcome-screen-height
   min-height $welcome-screen-height

   top 0
   left 0

   background $welcome-background-image
   background-attachment fixed
   -webkit-background-size cover
   -moz-background-size cover
   -o-background-size cover
   background-size cover

   .content
      position absolute

      top ((($welcome-screen-height - $corner-height) - 145px) / 2)

      width 100%

      color white

   .button
      button(white, $hover-color)
      font-main()
      margin-top 1em
      cursor pointer

// Что мы предлагаем
.offer-screen
   width 100%

   // Добавим 2px для того, чтобы не появлялось странных артефактов, типа черной линии под треугольником
   margin-top $welcome-screen-height - $corner-height + 2px

   background-color $offer-background-color

   .corner-line-top
      position absolute
      z-index 2

      display inline-block

      width 100%
      height $corner-height

      overflow hidden

      table
         width 100%

      .corner-bottom
         display inline-block

         width 0
         height 0

         border-style solid
         border-width ($corner-height - 2px) ($corner-width/2) 0 ($corner-width/2)
         border-color transparent $offer-background-color

         padding-bottom 2px

      .left, .right
         background-color $offer-background-color
      .center
         width $corner-width - 2px

   .menu
      display inline-block

      width 100%
      margin-top $corner-height

      text-align center

      ul
         display inline-block

         padding 50px 0px

         li
            display inline-block
            float left

         a
            font-menu()
            text-decoration none
            padding 0px 20px
            border-right 1px dashed $html-lines-color

            &.last
               border-right none

   .title
      border-top 1px solid $html-lines-color
      border-bottom 1px solid $html-lines-color
      line-height 118px

   .content
      display table
      table-layout fixed
      width 100%
      margin 0
      cursor pointer

      .column
         display table-cell
         width 33.3%
         text-align center
         overflow hidden

         &.center
            width 33.4%
            border-left 1px solid $html-lines-color
            border-right 1px solid $html-lines-color

         .slider
            width 200%
            display table
            -webkit-transition-duration 1s
            -moz-transition-duration 1s
            -ms-transition-duration 1s
            -o-transition-duration 1s
            transition-duration 1s

            &:hover
               margin-left -100%

//            .offer2
//               background-color red

            .offer1, .offer2
               width 50%
               display table-cell
               padding 30px

               .image
                  text-align center

               .header
                  font-main()
                  font-size 30px
                  line-height 70px

               .description
                  text-align justify
                  font-main()
                  font-size 16px
                  line-height 22px

                  table
                     width 100%

                     td
                        text-align center
                        border-bottom 1px solid $html-lines-color
                        line-height 40px

         .corner-up
            display inline-block

            width 0
            height 0

            border-style solid
            border-width 0 ($corner-width/2) ($corner-height - 2px) ($corner-width/2)
            border-color transparent $offer-background-color

            padding-bottom 2px

